{% extends "base.html" %}

{% load bootstrap_tags %}

{% block title %}Add comment{% endblock %}

{% block content %}

<!-- Render the add feature comment form -->

<div class="container">
    <div class="row">
        <div class="col-sm-12 text-center mt-5">
            <h1>Add comment to feature: {{ feature.featurename }}</h1>
        </div>
        <div class="col-sm-12 mt-5">
            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form | as_bootstrap }}
                <button type="submit" class="btn btn-info">Save</button>
            </form>
        </div>
        

    </div>
</div>


{% endblock  %}