{% extends "base.html" %}

{% block title %}ExtremeWall Feature Requests{% endblock %}

{% block content %}

<div class="container mt-5">
    <table class="table table-striped">
        <thead>
            <tr>
            <th scope="col">Request ID</th>
            <th scope="col">Request Name</th>
            <th scope="col">By User</th>
            <th scope="col">Date Requested</th>
            <th scope="col">Upvotes</th>
            </tr>
        </thead>
        <tbody>
            {% for feature in features%}
                {% if feature.status == True %}  
                <tr onclick="window.location='open_feature/{{ feature.id }}';" class="pointer hover-highlight">
                    <th scope="row">{{ feature.id }}</th>
                    <td>{{ feature.featurename }}</td>
                    <td>{{ feature.featureusername }}</td>
                    <td>{{ feature.created_date }}</td>
                    <td>{{ feature.upvotes }}</td>
                </tr>
            </a>
                {% endif %}
            {% endfor %}
        </tbody>
    </table>
    <!--
    <div class="row">
        <div class="col-sm-12 text-center mt-5">
            <h1>List of Feature Requests</h1>
        </div>
        <div class="tickets col-sm-12 mt-5">
            <ul class="list-group">
                <li class="list-group-item active">Open Requests</li>
                {% for feature in features%}
                    {% if feature.status == True %}
                    <li class="list-group-item"><a href="open_feature/{{ feature.id }}">{{feature.featurename}}</a></li>
                    {% endif %}
                {% endfor %}
            </ul>
        </div>
    </div>
    -->
    <div class="row">
        <div class="col-sm-12 text-center mt-5">
            <a href="{% url 'add_feature' %}"> 
            <button type="button" class="btn btn-primary">Add a Feature Request</button>
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 text-center mt-5">
            <h1>List of Closed Feature Requests</h1>
        </div>
        <div class="tickets col-sm-12 mt-5 mb-5">
            <ul class="list-group">
                <li class="list-group-item active">Closed Requests</li>
                {% for feature in features%}
                    {% if feature.status == False %}
                    <li class="list-group-item"><a href="open_feature/{{ feature.id }}">{{feature.featurename}}</a></li>
                    {% endif %}
                {% endfor %}
            </ul>
        </div>
    </div>
</div>


{% endblock  %}