{% extends "base.html" %}

{% load bootstrap_tags %}

{% block title %}Create a support ticket{% endblock %}

{% block content %}

<!-- Generate the add ticket form -->
<section id="addticket">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-center mt-5">
                <h1>Please enter the details of your support query below:</h1>
            </div>
            <div class="tickets col-sm-12 mt-5">
                <form method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form | as_bootstrap }}
                    <p>You can upload images to a public repository like <a href="https://imgur.com/upload" target="_blank">imgur</a> and paste the link in your description above </p>
                    <button type="submit" class="btn btn-info">Submit</button>
                </form>
            </div>
            
    
        </div>
    </div>
</section>

{% endblock  %}