{% extends "base.html" %}

{% block title %}ExtremeWall Ticket{% endblock %}

{% block content %}

<!-- Open ticket by id and display ticket information and comments -->
<div class="container">
    <div class="row mt-5">
        <div class="col-sm-12 text-center">
            <div class="card text-center">
                <div class="card-header">
                    Ticket Number: {{ticket.id}}
                </div>
                <div class="card-body">
                    <h5 class="card-title">{{ ticket.ticketname }}</h5>
                    <p class="card-text">{{ ticket.description }}</p>
                    <!-- Give button option if user owns ticket or is staff -->
                    <!-- Staff check -->
                    {% if user.is_staff%}
                        {% if ticket.status == True%}
                            <a href="{% url 'close_ticket' ticket.id %}"> 
                                <button type="button" class="btn btn-primary">Close Ticket</button>
                            </a>
                        {% else %}
                            <a href="{% url 'reopen_ticket' ticket.id %}"> 
                                <button type="button" class="btn btn-primary">Reopen Ticket</button>
                            </a>
                        {% endif %}
                    {% endif %}
                    <!-- Ticket Owner check -->
                    {% if ticket.ticketusername == current_user and not user.is_staff %}
                        {% if ticket.status == True%}
                        <div class="col-sm-12 mt-5 mb-2 text-center">
                            <a href="{% url 'close_ticket' ticket.id %}"> 
                            <button type="button" class="btn btn-primary">Close Ticket</button>
                            </a>
                        </div>
                        {% endif %}
                        {% if ticket.status == False%}
                        <div class="col-sm-12 mt-5 mb-2 text-center">
                            <a href="{% url 'reopen_ticket' ticket.id %}"> 
                            <button type="button" class="btn btn-primary">Reopen Ticket</button>
                            </a>
                        </div>
                        {% endif %}
                    {% endif %} 
                </div>
                <div class="card-footer text-muted">
                    Ticket Created by {{ticket.ticketusername}} on {{ ticket.created_date }}<br/>
                    {% if ticket.closed_date %}
                    Ticket Closed {{ ticket.closed_date }}
                    {% endif %}
                </div>
            </div>
        </div>

        
    </div>
    <div class="row">
        <div class="col-sm-12 text-center mt-5">
            <h3>Ticket Comments: </h3>
        </div>
        <div class="ticket col-sm-12 mt-5">
            <!-- Allow logged in users to add a comment -->
            {% if comments %}
                {% for comment in comments %}
                    {% for user in users%}
                        {% if comment.commentusername_id == user.id %}
                            <!-- For every second comment, change the color to make it easier on the eyes -->
                            <!-- If user that commented was a staff member, display comment in different color -->
                            {% if forloop.parentloop.counter|divisibleby:2 %}
                               <div class="card mb-2 comments">
                                    {% if user in staff %}
                                        <div class="card-header bg-danger">
                                            {{user.username}} (EW Staff) on {{comment.created_date}}
                                        </div>
                                        <ul class="list-group list-group-flush">
                                            <li class="list-group-item">{{comment.comment}}</li>
                                        </ul>
                                    {% else %}
                                        <div class="card-header bg-primary">
                                            {{user.username}} on {{comment.created_date}}
                                        </div>
                                        <ul class="list-group list-group-flush">
                                            <li class="list-group-item">{{comment.comment}}</li>
                                        </ul>
                                    {% endif %}                              
                                    
                                </div>
                            {% else %}
                                <div class="card mb-2 comments">
                                    {% if user in staff %}
                                        <div class="card-header bg-danger">
                                            {{user.username}} (EW Staff) on {{comment.created_date}}
                                        </div>
                                        <ul class="list-group list-group-flush">
                                            <li class="list-group-item">{{comment.comment}}</li>
                                        </ul>
                                    {% else %}
                                        <div class="card-header bg-info">
                                            {{user.username}} on {{comment.created_date}}
                                        </div>
                                        <ul class="list-group list-group-flush">
                                            <li class="list-group-item">{{comment.comment}}</li>
                                        </ul>
                                    {% endif %}                            
                                    
                                </div>
                            {% endif %}
                        {% endif %}
                    {% endfor %}    
                {% endfor %}
            {% else %}
            <!-- If no comments on ticket, display message to state it -->
            <p>There are no comments on this ticket yet</p>
            {% endif %}
        </div>  
    </div>
    <!-- Option to add comment only available to logged in users -->
    {% if user.is_authenticated %}
        {% if ticket.status == True%}
        <div class="row">
            <div class="col-sm-12 mt-5 mb-5 text-center">
                <a href="{% url 'add_comment' ticket.id %}"> 
                <button type="button" class="btn btn-primary">Add Comment</button>
                </a>
            </div>
        </div>
        {% endif %}
    {% endif %}
</div>
<div class="pb-5 mb-5"></div>

{% endblock  %}