{% extends "base.html" %}

{% block title %}ExtremeWall Ticket{% endblock %}

{% block content %}

<div class="container">
    <div class="row mt-5">
        <div class="col-sm-12 text-center">
            <h1>Displaying Ticket Number: {{ticket.id}}</h1>
        </div>
        <div class="ticket col-sm-12 mt-5 text-center">
            <h2>Ticket name: {{ ticket.ticketname }} - Posted by {{ticket.ticketusername}}</h2>
        </div>

        {% if user.is_staff %}
            {% if ticket.status == True%}
                <div class="col-sm-12 mt-5 mb-5 text-center">
                    <a href="{% url 'close_ticket' ticket.id %}"> 
                    <button type="button" class="btn btn-primary">Close Ticket</button>
                    </a>
                </div>
            {% else %}
                <div class="col-sm-12 mt-5 mb-5 text-center">
                    <a href="{% url 'reopen_ticket' ticket.id %}"> 
                    <button type="button" class="btn btn-primary">Reopen Ticket</button>
                    </a>
                </div>
            {% endif %}
        {% endif %}

        {% if ticket.ticketusername == current_user%}
            {% if ticket.status == True%}
            <div class="col-sm-12 mt-5 mb-5 text-center">
                <a href="{% url 'close_ticket' ticket.id %}"> 
                <button type="button" class="btn btn-primary">Close Ticket</button>
                </a>
            </div>
            {% endif %}
            {% if ticket.status == False%}
            <div class="col-sm-12 mt-5 mb-5 text-center">
                <a href="{% url 'reopen_ticket' ticket.id %}"> 
                <button type="button" class="btn btn-primary">Reopen this Ticket?</button>
                </a>
            </div>
            {% endif %}
        {% endif %}  
    </div>
    <div class="row">
        <div class="col-sm-12 text-center mt-5">
            <h3>Ticket Description: {{ ticket.description }}</h3>
        </div>
        {% if ticket.status == False%}
        <div class="col-sm-12 text-center">
            <h1>Ticket closed at: {{ticket.closed_date}}</h1>
        </div>
        {% endif %}
        <div class="col-sm-12 text-center mt-5">
            <h3>Ticket Comments: </h3>
        </div>
        <div class="ticket col-sm-12 mt-5">
            {% if comments %}
                {% for comment in comments %}
                    {% for user in users%}
                        {% if comment.commentusername_id == user.id %}
                            {% if forloop.parentloop.counter|divisibleby:2 %}
                               <div class="card mb-2 comments">
                                    {% if user in staff %}
                                    <div class="card-header bg-danger">
                                    {% else %}
                                    <div class="card-header bg-primary">
                                    {% endif %}                              
                                    {{user.username}} on {{comment.created_date}}
                                    </div>
                                    <ul class="list-group list-group-flush">
                                        <li class="list-group-item">{{comment.comment}}</li>
                                    </ul>
                                </div>
                            {% else %}
                                <div class="card mb-2 comments">
                                    {% if user in staff %}
                                    <div class="card-header bg-danger">
                                    {% else %}
                                    <div class="card-header bg-info">
                                    {% endif %}                            
                                    {{user.username}} on {{comment.created_date}}
                                    </div>
                                    <ul class="list-group list-group-flush">
                                        <li class="list-group-item">{{comment.comment}}</li>
                                    </ul>
                                </div>
                            {% endif %}
                        {% endif %}
                    {% endfor %}    
                {% endfor %}
            {% else %}
            <p>There are no comments on this ticket yet</p>
            {% endif %}
        </div>  
    </div>
    {% if user.is_authenticated %}
        {% if ticket.status == True%}
        <div class="row">
            <div class="col-sm-12 mt-5 mb-5 text-center">
                <a href="{% url 'add_comment' ticket.id %}"> 
                <button type="button" class="btn btn-primary">Add Comment</button>
                </a>
            </div>
        </div>
        {% endif %}
    {% endif %}
</div>


{% endblock  %}