{% extends "base.html" %}

{% block title %}ExtremeWall Open Ticket{% endblock %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-sm-12 text-center mt-5">
            <h1>List of open tickets</h1>
        </div>
        <div class="tickets col-sm-12 mt-5">
            <ul class="list-group">
                <li class="list-group-item active">Open Tickets</li>
                {% for ticket in tickets%}
                    {% if ticket.status == True %}
                    <li class="list-group-item"><a href="show_ticket/{{ ticket.id }}">{{ticket.ticketname}}</a></li>
                    {% endif %}
                {% endfor %}
            </ul>
        </div>
    </div>
    {% if user.is_authenticated %}
        <div class="row">
            <div class="col-sm-12 text-center mt-5">
                <a href="{% url 'add_ticket' %}"> 
                <button type="button" class="btn btn-primary">Create Support Ticket</button>
                </a>
            </div>
        </div>
    {% else %}
        <div class="row">
            <div class="col-sm-12 text-center mt-5">
                <p>You need to be <a href="{% url 'login' %}">logged in</a> to create support requests</p>
            </div>
        </div>
    {% endif %}
</div>

<script>
    ScrollReveal().reveal('.reveal', { delay: 100});
</script>

{% endblock  %}