{% extends 'base.html' %}
{% load bootstrap_tags %}
{% block title %}Cart Content{% endblock %}
{% block content %}

<div class="container">
    {% for item in cart_items %}

    <h3>Feature Number: {{item.id}} - {{item.feature.featurename}}</h3>
    <h3>Votes to be purchased: {{item.votes_multiplied}}</h3>
    <h3>Total Price: ${{item.rounded_total}}</h3>

    <div class="col-sm-12 text-center mt-3">
        <form method="post" action="{% url 'edit_cart' item.id %}">
        {% csrf_token %}
        <div class="input-group">
            <input name='quantity' type="number" min="1" max="100" class="form-control" placeholder="Quantity in thousands (Maximum is 100)" required>
            <span class="input-group-btn">
                <button class="btn btn-success" type="submit">Edit votes</button>
            </span>
        </div>
    </div>

    {% endfor %}
</div>
<div class="container mt-5">
    <div class="row">
        <a href="{% url 'checkout' %}" class="btn btn-success" role="button">Purchase Now</a>
    </div>
</div>

{% endblock %}