{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/darkly.bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    {% block head_js %}
    {% endblock head_js %}    
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top">
        <a class="navbar-brand" href="{% url 'home' %}">ExtremeWall</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
                {% if user.is_authenticated %}
                <li class="nav-item {{index_page}}">
                    <a class="nav-link" href="{% url 'home' %}"><i class="fas fa-home"></i> Home</a>
                </li>
                <li class="nav-item dropdown {{ ticket_page }}">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fas fa-bug"></i> Tickets
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="{% url 'show_open_tickets' %}">Show Open Tickets</a>
                        <a class="dropdown-item" href="{% url 'show_closed_tickets' %}">Show Closed Tickets</a>
                        <a class="dropdown-item" href="{% url 'add_ticket' %}">Create a Support Tickets</a>
                    </div>
                </li>

                <li class="nav-item dropdown {{ feature_page }}">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fas fa-laptop-code"></i> Features
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="{% url 'show_open_features' %}">Show Feature Request</a>
                        <a class="dropdown-item" href="{% url 'closed_features' %}">Show Closed Requests</a>
                        <a class="dropdown-item" href="{% url 'add_feature' %}">Create a Feature Request</a>
                    </div>
                </li>
                <li class="nav-item {{ stats_page }}">
                    <a class="nav-link" href="{% url 'stats' %}"><i class="fas fa-chart-line"></i> Stats</a>
                </li>
                <li class="nav-item {{ profile_page }}">
                    <a class="nav-link" href="{% url 'profile' %}"><i class="fas fa-id-badge"></i> Profile</a>
                </li>
                <li class="nav-item {{ cart_page }}">
                    <a class="nav-link" href="{% url 'show_cart' %}"><i class="fas fa-shopping-cart"></i> Cart</a>
                </li>
                <li class="nav-item">
                    <a href="javascript:{document.getElementById('logout').submit()}" class="nav-link"> <i class="fas fa-sign-out-alt"></i> Logout</a>
                    <form action="{% url 'logout' %}" method="POST" id="logout">
                        {% csrf_token %}
                        <input type="hidden">
                    </form>
                </li>
                {% else %}
                <li class="nav-item {{index_page}}">
                    <a class="nav-link" href="{% url 'home' %}"><i class="fas fa-home"></i> Home</a>
                </li>
                <li class="nav-item dropdown {{ ticket_page }}">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fas fa-bug"></i> Tickets
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="{% url 'show_open_tickets' %}#">Show Open Tickets</a>
                        <a class="dropdown-item" href="{% url 'show_closed_tickets' %}">Show Closed Tickets</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item disabled" href="{% url 'add_ticket' %}">Log in to Create Support Tickets</a>
                    </div>
                </li>
                <li class="nav-item dropdown {{ feature_page }}">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fas fa-laptop-code"></i> Features
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="{% url 'show_open_features' %}">Show Feature Request</a>
                        <a class="dropdown-item" href="{% url 'closed_features' %}">Show Closed Requests</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item disabled" href="{% url 'add_feature' %}">Log in to Create a Feature Request</a>
                    </div>
                </li>
                <li class="nav-item {{ stats_page }}">
                    <a class="nav-link" href="{% url 'stats' %}"><i class="fas fa-chart-line"></i> Stats</a>
                </li>
                <li class="nav-item {{ register_page }}">
                    <a class="nav-link" href="{% url 'register' %}"><i class="fas fa-pencil-alt"></i> Register</a>
                </li>
                <li class="nav-item {{ login_page }}">
                    <a class="nav-link" href="{% url 'login' %}"><i class="fas fa-sign-in-alt"></i> Login</a>
                </li>
                {% endif %}
            </ul>        
        </div>
    </nav>

    {% block content %}
    
    {% endblock content %}
    
    <div class="container pb-5"></div>

    <footer class="container-fluid page-footer bg-dark d-flex justify-content-center align-items-center">
        <div class="row align-items-center">
            <div class="col-sm-12 text-center mt-3">
                <h6>Follow us on social media:</h6>
            </div>
            <div class="col-4 text-center">
                <a href="http://www.facebook.com" target="_blank"><i class="fab fa-facebook"></i></a>
            </div>
            <div class="col-4 text-center">
                <a href="http://www.twitter.com" target="_blank"><i class="fab fa-twitter-square"></i></a>
            </div>
            <div class="col-4 text-center">
                <a href="http://www.youtube.com" target="_blank"><i class="fab fa-youtube"></i></a>
            </div>
            <div class="col-12 text-center mt-3">
                <p class="align-middle">Copyright 2019 - ExtremeWall Inc.</p>
            </div>
        </div>
    </footer>
    <script src="https://unpkg.com/scrollreveal"></script>    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
</body>
</html>